#config/pipelines.yaml

pipelines:
  - name: oireachtas_questions
    type: pipelines.oireachtas_pipeline.OireachtasDataPipeline
    params:
      date_start: "2022-01-01"
      date_end: "2022-12-31"
      chunk_size: 1000