#config/pipelines.yaml

pipelines:
  - name: oireachtas_questions
    type: pipelines.oireachtas_pipeline.OireachtasDataPipeline
    params:
      date_start: "2025-01-01"
      date_end: "2025-01-31"
      chunk_size: 50